* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-direction: column;


}

.present {
    position: relative;
    top: 10%;
}

.present #nap {
    width: 16em;
    height: 16em;
    position: absolute;
    left: 0;
    transition: transform 1s linear;
    transform-origin: left;
    transform-style: preserve-3D;
}

.present #hop {
    width: 16em;
}

.present #den-thui {
    width: 16em;
    height: 16em;
    z-index: -2;
    position: absolute;
    left: 0;
}

.present-rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* -webkit-transform-origin: 10% 40%;
    -moz-transform-origin: 10% 40%;
    -o-transform-origin: 10% 40%;
     transform-origin: 10% 40%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s; */
}

/*.animation-bo {*/
/*    animation: mymove 5s infinite;*/
/*}*/

/*.show-bo {*/
/*    visibility: hidden;*/
/*}*/

.tam-che {
    position: absolute;
    background-color: #fff;
    width: 300vw;
    z-index: -1;
    bottom: 0;
}

.background {
    position: absolute;
    background-color: #fff;
    z-index: -3;
    width: 300vw;
    height: 100%;
}

.shake {
    background: linear-gradient(to right, #ff0000, #ff8000, #ffff00, #00ff00, #00ffff, #0000ff, #8000ff, #ff00ff, #ff0000, #ff8000, #ffff00, #00ff00, #00ffff, #0000ff, #8000ff, #ff00ff, #ff0000, #ff8000, #ffff00, #00ff00, #00ffff, #0000ff, #8000ff, #ff00ff) !important;
    animation: spin 1000ms infinite linear;
    animation-play-state: paused;
}

.run {
    animation-play-state: running !important;
}

@keyframes spin {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-35%);
    }
}

.tran-duc-bo {
    margin-left: 2rem;
    position: absolute;
    top: 50%;
    z-index: -2;
    transition: all 1200ms linear;
    overflow: hidden;
    display: none;
}

.image {
    height: 320px;

}

.move {
    transform: translateY(-50%);
}

.appear {
    display: block !important;
}

.clickhere {
    position: absolute;
    top: 15%;
}

.visible {
    display: none;
}

.items {
    position: absolute;
    display: none;
}

.container > img:first-of-type {
    bottom: 0;
    left: 0;
}

.container > img:nth-of-type(2) {
    left: 0;
    top: 0;
    transform: scaleX(-1);
}

.container > img:nth-of-type(3) {
    right: 0;
    top: 0;
}
.container > img:nth-of-type(4) {
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
}
