.present #nap {
    width: 16em;
    height: 16em;
    /*margin-top: -15px;*/
    position: absolute;
    transition: transform 1s linear;
    transform-origin: left;
    transform-style: preserve-3D;
}

.present #hop {
    width: 16em;
    /*height: 16em;*/
    position: absolute;
}

.present #den-thui{
    width: 16em;
    height: 16em;
    z-index: -2;
    position: absolute;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.present .present-rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* -webkit-transform-origin: 10% 40%;
    -moz-transform-origin: 10% 40%;
    -o-transform-origin: 10% 40%;
     transform-origin: 10% 40%;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
     transition-duration: 1s; */
}

/*.animation-bo {*/
/*    animation: mymove 5s infinite;*/
/*}*/

/*.show-bo {*/
/*    visibility: hidden;*/
/*}*/

/*@keyframes mymove {*/
/*    from {*/
/*        left: 0px;*/
/*    }*/
/*    to {*/
/*        left: 300px;*/
/*    }*/
/*}*/

.tran-duc-bo {
/*     margin-top: 30%; */
    margin-left: 2rem;
    position: relative;
    top: 230px;
    z-index: -2;
    transition: all 1200ms linear;
}

.move {
    transform: translateY(-50%);
    /*z-index: 2 !important;*/
}

.tam-che{
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 30vh;
    bottom: 0;
}
